<div style="width: 50%; margin-left: 25%; margin-top: 7%;">
  <h2 style="text-align: center;">Địa điểm nổi bật</h2>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://i-english.vnecdn.net/2021/09/01/hoiansaumuavnexpress4156157182-9237-1249-1630483763_680x0.jpg" class="d-block w-100" alt="..." style="height: 50vh; object-fit: cover;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2021-12/211011%20Resize%20KV%20nhatrang-01-min_1.jpg?itok=pSGQVMXz" class="d-block w-100" alt="..." style="height: 50vh; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://d13jio720g7qcs.cloudfront.net/images/destinations/origin/5caad458e3e37.png" class="d-block w-100" alt="..." style="height: 50vh; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
