<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="input-group m-3">
                <label class="input-group-text" for="inputGroupSelect01">Địa điểm</label>
                <select class="form-select" id="inputGroupSelect01">
                    <!-- <option selected>Địa điểm</option> -->
                    <option value="1">Đà Lạt</option>
                    <option value="2">Nha Trang</option>
                    <option value="3">Đà Nẵng</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group m-3">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="input-group m-3">
                <span class="input-group-text" id="basic-addon1">Ngày đi</span>
                <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-4">
            <div class="input-group m-3">
                <span class="input-group-text" id="basic-addon1">Số ngày đi</span>
                <select class="form-select" id="inputGroupSelect01">
                    <!-- <option selected>Địa điểm</option> -->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
              </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary m-3" style="width: 80%">
                <i class="fa fa-search" aria-hidden="true"></i>
                Tìm</button>
        </div>
    </div>
</div>